<header>
    <div class="header">
        <div class="h3">
            <span><a href="/">Codeial</a></span>
        </div>
        <div class="ul">
            <% if(locals.user){ %>
                <div class="li">
                    <a href="/user/profile/<%= user.id%>">
                        <%= user.name %>
                    </a>
                </div>
                <div class="li">
                    <a href="/user/signout">Sign Out</a>
                </div>
                <% } else { %>
                    <div class="li">
                        <a href="/user/signin">Sign In</a>
                    </div>
                    <div class="li">
                        <a href="/user/signup">Sign Up</a>
                    </div>
                    <% } %>
        </div>
    </div>
</header>