<link rel="stylesheet" href="/css/home.css">

<h1>Hello!!!</h1>
<div class="home_controller">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
            <form action="/post/createposts" method="post" id="new_post_form">
                <textarea cols="30" rows="3" placeholder="Type here...." id="new post" name="content"></textarea>
                <button type="submit">Post</button
            </form>
            <% } %>
                <div class="post-user-conatiner">
                    <div class="list">
                        <% for(post of posts) { %>
                            <div  class="borders">
                                <p><%= post.user.name %> </p>
                                <%- include('_post') -%>
                            </div>
                            <% } %>
                    </div>
                   
                </div>
    </section>
    <section id="user_friends">
        <h4>Friends</h4>
        <% for(u of all_users) { %>
        <p>
            <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
        </p>
        <% } %>
    </section>
</div>
<script src="/js/home-posts.js"></script>