<html>
    <head>
        <title>
            Hello!!
        </title>
    </head>
    <body>
        <%- include('_header') -%>
        <%- body -%>
        <%- include('_footer') -%>
    </body>
</html>
