<div class="user_details">
    <p>Name</p> <p><%=user.name %></p>
    <p> Emial Id:-</p><p><%=user.email %></p>
    </table>
</div>
<form action="/user/signout" method="get">
    <input type="submit" value="Signout">
</form>
