<h1>Sign IN</h1>
<form action="/user/create_session" method="post">
    <input type="email"name="email" placeholder="Your Email" required>
    <input type="password"name="password" placeholder="Your Password" required>
    <input type="submit" value="Sign In">
</form>
<a href = "/user/auth/google" >
    Google signup/signin
</a>