body{
    background-color:  rgb(207, 218, 218);
}
.home_controller{
    display: flex;
    #feed-posts{
        width:70%;
        padding: 10px;
    }
    #user_friends{
        width:30%;
        padding: 10px;
        border-left: 3px solid lightgray;
    }
}
.borders {
    border: 1px solid black;
}
#post-comments{
    color : blanchedalmond;
}
.post-user-conatiner{
    border: 1px solid black;
    margin: 1px;
    width: 60%;
    margin: auto;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    .user-details{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding:1px;  
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .post-details{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}